.root
{
	-fx-background-color: #DFAEE8;
	-fx-font: 15pt "Trebuchet MS";
	-fx-text-fill: #2F3437;
}

.button
{
	-fx-font: 18pt "Helvetica Neue";
	-fx-text-fill: white;
	-fx-border-radius: 6,5,5,5;
	-fx-padding: 5;
}

#easyBtn
{
	-fx-background-color: #9ff1a5;
}

#normBtn
{
	-fx-background-color: #f7eb46;
}

#hardBtn
{
	-fx-background-color: #ff9292;
}
